/* The webpage overall styling */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: rgb(26, 26, 26);
}

body{
    overflow: hidden;
    background-color: rgb(21, 21, 21);
}


.controls{
    padding: 13px;
}



/* This styles the navbar and its contents */
#navbar {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}

/* This styles the logo in the navbar */
#navbar #logo {
    height: 60px;
    width: 60px;
    position: absolute;
    left: 3%;
    top: -5px;
}

/* This styles the logo image to be used in the navbar */
#navbar #logo img {
    height: 60px;
    width: 60px;
}

img {
    pointer-events: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* This styles the unlisted links in the navbar */
#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5%;
    top: 0;
}

/* This changes the appearance of the listed links in the navbar */
#navbar ul li {
    height: 60px;
    width: 80px;
    margin: 0 30px;
    display: grid;
    place-items: center;

}

/* This sets the hover action of the navbar links */
#navbar ul:hover .active {
    border: none;
}

/* This styles the descriptions of the 3D object */
#content {
    height: 700px;
    width: 700px;
    position: absolute;
    left: 12%;
    top: 80px;
    
}

/* This styles the heading in the 3D description */
#content h2 {
    font-size: 40px;
    color: rgb(209, 209, 209);
}

/* This styles the heading in the 3D description */
#content h3 {
    font-size: 10px;
    color: rgb(209, 209, 209);
}

/* This styles the paragraph in the 3D description*/
#content p {
    font-size: 20px;
    color: rgb(189, 189, 189);
}

/* This styles the button in the 3D description*/
button {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 1px;
    outline: none;
    border-radius: 20px;
    background: rgba(255, 225, 0, 0.7);
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background: rgba(255, 225, 0, 0.9);
}

.bloque{
    display: block;
    min-width: 150px;
    max-width: 150px;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 15px;
    outline: none;
    border-radius: 20px;
    background: rgba(255, 225, 0, 0.7);
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
}

.bloque:hover {
    background: rgba(255, 225, 0, 0.9);
}

.gridcontent{
    display: grid;
    margin-top: 25px;
}

::file-selector-button {
    display: none;
  }
  ::-webkit-file-upload-button {
    display: none;
 }
 

/* This styles the button in the 3D description*/
#content input {
    min-width: 300px;
    max-width: 300px;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    border: none;
    outline: none;
    border-radius: 20px;
    background: rgba(255, 225, 0, 0.761);
    color: rgb(0, 0, 0);

    padding: 10px 25px;
    cursor: pointer;
}

/* This adds some hover effects over the button */
#content button:hover {
    background: rgb(113, 0, 206);
}

/* This styles the social media icons*/
#icons {
    height: 500px;
    width: 140px;
    background: none;
    position: absolute;
    left: 0;
    top: calc(50% - 250px);
    display: flex;
    align-items: center;
    filter: drop-shadow(2px 2px 2px grey);
}

/* This styles the social media icons logos*/
#icons #iconsLogo {
    height: 300px;
    width: 50px;
    display: flex;
    flex-direction: column;
}

/* This styles the social media icons logos images*/
#icons #iconsLogo i {
    height: 50px;
    width: 50px;
    font-size: 30px;
    margin: 10px;
    color: grey;
    display: grid;
    place-items: center;
    cursor: pointer;

}

/* This styles the aside container */
#aSide {
    border: none;
    max-width: 900px;
    min-width: 900px;
    max-height: 900px;
    min-height: 900px;
    background-color: rgba(36, 36, 36,0);
}

/* This styles the 3D object inserted in the aside container */
#aSide model-viewer {



    top: 40px;
    left: 0;
    border: none;
    background-color: rgba(36, 36, 36,0);
}

.viewerback {
    z-index: 20;
    position: fixed;
    max-width: 1000px;
    min-width: 1000px;
    max-height: 1000px;
    min-height: 1000px;

    background-repeat: no-repeat;
    background-position: top;
    object-fit: cover;
    border: none;
    border-color: rgba(255, 225, 0, 0);
}

.blurimg {
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.contimg {
    filter: contrast(200%);
    -webkit-filter: contrast(200%);
  }


label{
    color: rgba(224, 224, 224, 0.7);
    margin-bottom: 20px;
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 16px;
}

.bouncing-text {
    display: flex;
    font-size: 20px;
    font-weight: 900;
    margin-top: 7px;
    margin-bottom: 15px;
    opacity: 70%;
  }
  
  .b, .u, .c, .d {
    color: #f0ae4c;
    margin-left: 0.6px;
    margin-right: 0.6px;
  }
  .o, .n, .e {
    color: #f0ae4c;
    margin-left: 4.5px;
    margin-right: 2.5px;
  }
  @keyframes bounces {
    0%   { transform: scale(1,1) translateY(0);}
    10%  { transform: scale(1.1,.9) translateY(0);}
    30%  { transform: scale(.9,1.1)   translateY(-9px);}
    50%  { transform: scale(1.05,.95) translateY(0);}
    58%  { transform: scale(1,1) translateY(-7px);}
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);}
  }
  @keyframes color-change {
    0% { color: rgb(255, 21, 21); }
    16% { color: rgb(255, 137, 11); }
    32% { color: rgb(255, 226, 5); }
    48% { color: rgb(119, 255, 8); }
    64% { color: rgb(71, 227, 255); }
    80% { color: rgb(42, 74, 255); }
    100% { color: rgb(188, 20, 255); }
  }
  
  .b {
  animation: bounces 1.5s ease infinite, color-change 2s infinite;
  }
  .o {
  animation: bounces 2s ease infinite .1s, color-change 2.4s infinite;
  }
  .u {
  animation: bounces 2s ease infinite .2s, color-change 2.8s infinite;
  }
  .n {
  animation: bounces 2s ease infinite .3s, color-change 3.2s infinite;
  }
  .c {
  animation: bounces 2s ease infinite .4s, color-change 3.6s infinite;
  }
  .e {
  animation: bounces 2s ease infinite .5s, color-change 4s infinite;
  }
  .d {
  animation: bounces 2s ease infinite .6s, color-change 4.4s infinite;
  }

  .logo-viewer{
    margin-top: -10px;
    padding: 10px;
    margin-left: 5px;
    position:sticky;
    max-width: 220px;
    min-width: 220px;
    max-height: 85px;
    min-height: 85px;
    opacity: 0.7;
    z-index: 30;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 1;
    min-width: 200px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.ad-column {
    flex: 0 0 calc(50% - 10px); /* Half the size minus the margin */
    text-align: center;
    font-weight: bold;
    color: #666;
    padding: 10px;
    background-color: #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .ad-column {
        flex: 1;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .ad-column:first-child {
        flex: 0 0 calc(25% - 10px); /* Half the size minus the margin */
    }
}